# Common infrastructure
POSTGRES_USER=platform_user
POSTGRES_PASSWORD=platform_password
POSTGRES_DB=platform_master_db
POSTGRES_PORT=5432
REDIS_PASSWORD=redis_password
KAFKA_BROKER_ID=1
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# Eureka and config
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
SPRING_CLOUD_CONFIG_URI=http://config-service:8888

# JWT secret
SECURITY_JWT_SECRET=change-me-secret

# Postgres DB names and users for services
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=platform_db_user
DB_PASSWORD=platform_db_password

# Kafka bootstrap server for reporting-service
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
